data/synthetic.csv
data/real_samples
strategies/
backtest/__pycache__
data/__pycache__
backtest/dataclasses/__pycache__
tests/__pycache__
backtest_results.png
__pycache__
unittest.bat
data/synthetic_plot_SYNTH.png
data/synthetic_plot_TEST.png
data/synthetic_plot_THEORY.png
profile_report.txt
data/stress_test.csv